<?xml version="1.0" encoding="UTF-8"?>
<config>

    <!-- Properties -->
    <properties>
        <property name="url_mainpage" value="http://slnwtapp040/softfunk/main.aspx"/>
        <property name="config.video.record" value="true"/>
    </properties>

    <!-- Users -->
    <users>
        <user id="exampleUser" pin="" role="user" username="@PigeonUser" password="pigeon@twitter"/>
    </users>

    <!-- Drivers -->
    <drivers>
        <driver id="chromedriver" type="ChromeDriver" version="83"/>
    </drivers>
</config>
